<div class="container">
  <div class="breadcrumbs">
     <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item">
           <a class="breadcrumbs__link" href="index.html">Home</a>
        </li>
        <li class="breadcrumbs__item">
           <a class="breadcrumbs__link" href="#">Tea ceremony</a>
        </li>
     </ul>
  </div>
</div>