<div class="product-wrap">
  <div class="product">
    <img class="product__img" src="images/product/1.jpg" alt="product">
    <h4 class="product__title">Shu Puer pressed tea "Ban Zhang Gong Ting" 2017 No. 150</h4>
    <div class="product__info">
      <div class="product__origin">
        Country: 
        <span>China</span>
      </div>
      <div class="product__cost">
        <span class="product__price">140 </span>UAH / 
        <span class="product__weight">50 </span>g
      </div>
    </div>
    <button class="product__btn product__like" type="submit">
      {% include "app/module/_icons/_heart.njk" %}
    </button>
    <button class="product__btn product__bag" type="submit">
      {% include "app/module/_icons/_bag.njk" %}
    </button>
  </div>
</div>

<div class="product-wrap">
  <div class="product">
    <img class="product__img" src="images/product/2.jpg" alt="product">
    <h4 class="product__title">Cha Zhuan pressed tea Shu Puer 2013 No. 180</h4>
    <div class="product__info">
      <div class="product__origin">
        Country: 
        <span>China</span>
      </div>
      <div class="product__cost">
        <span class="product__price">160 </span>UAH / 
        <span class="product__weight">50 </span>g
      </div>
    </div>
    <button class="product__btn product__like" type="submit">
      {% include "app/module/_icons/_heart.njk" %}
    </button>
    <button class="product__btn product__bag" type="submit">
      {% include "app/module/_icons/_bag.njk" %}
    </button>
  </div>
</div>

<div class="product-wrap">
  <div class="product">
    <img class="product__img" src="images/product/3.jpg" alt="product">
    <h4 class="product__title">The Story of One Leaf, Shu Puer Pressed Tea No. 520</h4>
    <div class="product__info">
      <div class="product__origin">
        Country: 
        <span>China</span>
      </div>
      <div class="product__cost">
        <span class="product__price">446 </span>UAH / 
        <span class="product__weight">50 </span>g
      </div>
    </div>
    <button class="product__btn product__like" type="submit">
      {% include "app/module/_icons/_heart.njk" %}
    </button>
    <button class="product__btn product__bag" type="submit">
      {% include "app/module/_icons/_bag.njk" %}
    </button>
  </div>
</div>

<div class="product-wrap">
  <div class="product">
    <img class="product__img" src="images/product/4.jpg" alt="product">
    <h4 class="product__title">Loose Shu Puer tea in tangerine No. 200</h4>
    <div class="product__info">
      <div class="product__origin">
        Country: 
        <span>China</span>
      </div>
      <div class="product__cost">
        <span class="product__price">170 </span>UAH / 
        <span class="product__weight">50 </span>g
      </div>
    </div>
    <button class="product__btn product__like" type="submit">
      {% include "app/module/_icons/_heart.njk" %}
    </button>
    <button class="product__btn product__bag" type="submit">
      {% include "app/module/_icons/_bag.njk" %}
    </button>
  </div>
</div>

<div class="product-wrap">
  <div class="product">
    <img class="product__img" src="images/product/5.jpg" alt="product">
    <h4 class="product__title">Qi Zi Bing Lao Hong Zhu Hong tea Shu Puer 1995 No. 3200</h4>
    <div class="product__info">
      <div class="product__origin">
        Country: 
        <span>China</span>
      </div>
      <div class="product__cost">
        <span class="product__price">2560 </span>UAH / 
        <span class="product__weight">50 </span>g
      </div>
    </div>
    <button class="product__btn product__like" type="submit">
      {% include "app/module/_icons/_heart.njk" %}
    </button>
    <button class="product__btn product__bag" type="submit">
      {% include "app/module/_icons/_bag.njk" %}
    </button>
  </div>
</div>

<div class="product-wrap">
  <div class="product">
    <img class="product__img" src="images/product/6.jpg" alt="product">
    <h4 class="product__title">Show Mei Bing from Zhen He white pressed tea No. 600</h4>
    <div class="product__info">
      <div class="product__origin">
        Country: 
        <span>China</span>
      </div>
      <div class="product__cost">
        <span class="product__price">480 </span>UAH / 
        <span class="product__weight">50 </span>g
      </div>
    </div>
    <button class="product__btn product__like" type="submit">
      {% include "app/module/_icons/_heart.njk" %}
    </button>
    <button class="product__btn product__bag" type="submit">
      {% include "app/module/_icons/_bag.njk" %}
    </button>
  </div>
</div>