<section class="blog" id="blog">
  <div class="container">
    <h2 class="blog__title title">Blog</h2>
  </div>
  <div class="blog__wrap">
    <div class="blog__overlay">
      <div class="container">
      <div class="blog__inner">
        <ul class="blog__list">
          <li class="blog__item">
            <a class="blog__item-link" href="page-404.html">
              <h3 class="blog__item-title">Milk oolong - how the famous tea is made</h3>
              <p class="blog__item-text">
                Milk oolong is a Chinese tea, a favorite of Europeans. It was the oolongs that became the first ceremonial teas.
              </p>
              {% include "app/module/_arrow-right/_arrow-right.njk" %}
            </a>
          </li>
          <li class="blog__item">
            <a class="blog__item-link" href="page-404.html">
              <h3 class="blog__item-title">Tea ceremony in China</h3>
              <p class="blog__item-text">
                The tea ceremony originated in China and only a few centuries later its attributes successfully migrated first to Japanese.
              </p>
              {% include "app/module/_arrow-right/_arrow-right.njk" %}
            </a>
          </li>
          <li class="blog__item">
            <a class="blog__item-link" href="page-404.html">
              <h3 class="blog__item-title">Puerh properties - 16 points of benefit</h3>
              <p class="blog__item-text">
                The Chinese are very attentive to physical and emotional health. This is one of the reasons why they drink pu-erh with such pleasure.
              </p>
              {% include "app/module/_arrow-right/_arrow-right.njk" %}
            </a>
          </li>
          <li class="blog__item">
            <a class="blog__item-link" href="page-404.html">
              <h3 class="blog__item-title">How to store tea at home</h3>
              <p class="blog__item-text">
                To keep your tea always tasty, and you can please yourself or surprise guests at any time, store it correctly.
              </p>
              {% include "app/module/_arrow-right/_arrow-right.njk" %}
            </a>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</section>