      <div class="up-wrap">
         <button class="up" id="up" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>
            {% include "app/module/_arrow-right/_arrow-right.njk" %}
         </button>
      </div>