.set {
  &__inner {
    padding: 60px 15px 0;
    border-left: $border;
    border-right: $border;
  }
}
.set-slider {
  display: flex;
  justify-content: center;
  max-width: 1250px;
  margin: 0 auto;
  &__l {
    position: relative;
    border: none;
    margin-right: 30px;
    &.slick-slider {
      max-width: 53%;
    }
    .slick-dots {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 22px;
      right: 18px;
      button {
        display: none;
      }
      li {
        width: 20px;
        height: 20px;
        background-color: #999;
        border-radius: 50%;
        font-size: 0;
        margin: 0 5px;
        &.slick-active {
          background-color: #fff;
        }
      }
    }
  }
  &__img-l {
  max-width: 670px;
  height: fit-content;
  object-fit: cover;
    &--rev {
      transform: rotateY(180deg);
    }
  }
  &__s {
    margin-bottom: 32px;
    &.slick-slider {
      max-width: 545px;
    }
  }
  &__slide-s {
    display: flex;
    justify-content: space-between;
  }
  &__product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 270px;
    width: 100%;
    height: 415px;
    padding: 10px;
    padding-top: 40px;
    border: 1px solid rgba($link, .4);
    &:first-child {
      margin-right: 5px;
    }
  }
  &__product-img {
    max-width: 218px;
    width: 100%;
    margin-bottom: 15px;
  }
  &__product-title {
    max-width: 230px;
    @extend %OpenSans-600;
    font-size: 18px;
    line-height: 1.35;
  }
  &__box {
    max-width: 44%;
  }
  &__box-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 338px;
    height: 78px;
    background-color: $link;
    border-radius: 25px;
    margin: 0 auto;
    transition: all .3s;
    &:hover {
      background-color: $link-hover;
      .arrow-right {
        transform: scale(1.05);
      }
    }
    &:active {
      background-color: $link-active;
    }
    span {
      @extend %OpenSans-600;
      font-size: 22px;
      line-height: 1.35;
      margin-right: 18px;
    }
    .arrow-right {
      width: 44px;
      height: 44px;
      background-color: transparent;
      border: 2px solid rgba(#1A1919, .4);
      &__angle {
        width: 10px;
        height: 10px;
      }
    }
  }
}
// ---------------------------------------------------1360-----------------------------------------------------
@media (max-width: 1360px) {
  .set {
    &__inner {
      padding: 45px 15px 0;
    }
  }
}
// ---------------------------------------------------1160-----------------------------------------------------
@media (max-width: 1160px) {
  .set {
    &__inner {
      padding: 45px 10px 0;
    }
  }
  .set-slider {
    &__l {
      margin-right: 20px;
      &.slick-slider {
        max-width: 54%;
      }
    }
    &__s {
      margin-bottom: 28px;
    }
    &__img-l {
      max-height: 492px;
    }
    &__product {
      height: 395px;
      padding-top: 20px;
    }
    &__box-link {
      width: 328px;
      height: 70px;
      .arrow-right {
        width: 42px;
        height: 42px;
      }
    }
  }
}
// ---------------------------------------------------1060-----------------------------------------------------
@media (max-width: 1060px) {
  .set {
    &__inner {
      padding: 35px 10px 0;
    }
  }
  .set-slider {
    &__s {
      margin-bottom: 25px;
    }
    &__img-l {
      max-height: 442px;
    }
    &__product {
      height: 352px;
      padding-top: 12px;
    }
    &__box-link {
      width: 325px;
      height: 65px;
      .arrow-right {
        width: 42px;
        height: 42px;
      }
    }
  }
}
// ---------------------------------------------------960-----------------------------------------------------
@media (max-width: 960px) {
  .set-slider {
    &__l {
      margin-right: 15px;
    }
    &__img-l {
      max-height: 402px;
    }
    &__s {
      margin-bottom: 22px;
    }
    &__product {
      height: 322px;
      padding-top: 10px;
    }
    &__box-link {
      width: 295px;
      height: 58px;
      span {
        font-size: 20px;
        margin-right: 12px;
      }
      .arrow-right {
        width: 38px;
        height: 38px;
      }
    }
  }
}
// ---------------------------------------------------860-----------------------------------------------------
@media (max-width: 860px) {
  .set {
    &__inner {
      padding: 25px 10px 0;
    }
  }
    .set-slider {
    &__img-l {
      max-height: 360px;
    }
    &__s {
      margin-bottom: 18px;
    }
    &__product {
      height: 284px;
      padding-top: 8px;
    }
    &__product-title {
      font-size: 17px;
      line-height: 1.25;
    }
  }
}
// ---------------------------------------------------760-----------------------------------------------------
@media (max-width: 760px) {
  .set {
    &__inner {
      padding: 20px 0;
      border: none;
    }
  }
  .set-slider {
    flex-direction: column;
    &__l {
      margin: 0 0 7px;
      &.slick-slider {
        max-width: 100%;
      }
    }
    &__img-l {
      max-width: 100%;
      max-height: 320px;
    }
    &__s {
      &.slick-slider {
        max-width: 100%;
      }
    }
    &__box {
      max-width: 100%;
    }
    &__product {
      max-width: 100%;
      height: 220px;
      padding: 5px 15px 8px;
    }
    &__product-img {
      max-width: 130px;
      margin-bottom: 8px;
    }
    &__product-title {
      max-width: 100%;
    }
    .arrow-right {
      bottom: 0;
    }
  }
}
// ---------------------------------------------------660-----------------------------------------------------
@media (max-width: 660px) {
  .set-slider {
    &__l {
      display: none;
    }
    &__s {
      margin-bottom: 40px;
    }
  }
}
// ---------------------------------------------------560-----------------------------------------------------
@media (max-width: 560px) {
  .set {
    &__inner {
      padding: 16px 0;
    }
  }
  .set-slider {
    &__product {
      justify-content: center;
      height: 238px;
      padding: 5px 8px 8px;
    }
  }
}
// ---------------------------------------------------460-----------------------------------------------------
@media (max-width: 460px) {
  .set-slider {
    &__s {
      margin-bottom: 38px;
    }
    &__slide-s {
      flex-direction: column;
    }
    &__product {
      height: 216px;
      &:first-child {
        margin: 0 0 5px 0;
      }
    }
    &__product-title {
      text-align: center;
    }
    &__box-link {
      width: 260px;
      height: 50px;
      span {
        font-size: 18px;
        margin-right: 10px;
      }
      .arrow-right {
        width: 32px;
        height: 32px;
      }
    }
  }
}