<section class="set" id="set">
  <div class="container">
    <div class="set__inner">
      <h2 class="set__title title">Set</h2>
      <div class="set-slider">
        <div class="set-slider__l">
          <img class="set-slider__img-l" src="images/set/slider-l/1.jpg" alt="set image">
          <img class="set-slider__img-l set-slider__img-l--rev" src="images/set/slider-l/1.jpg" alt="set image">
          <img class="set-slider__img-l" src="images/set/slider-l/1.jpg" alt="set image">
        </div>
        <div class="set-slider__box">
          <div class="set-slider__s">
            <div class="set-slider__slide-s-wrap">
              <div class="set-slider__slide-s">
                <div class="set-slider__product">
                  <img class="set-slider__product-img" src="images/set/slider-s/1.jpg" alt="set image">
                  <h5 class="set-slider__product-title">Tie Guan Yin light Oolong (turquoise tea) No. 800</h5>
                </div>
                <div class="set-slider__product">
                  <img class="set-slider__product-img" src="images/set/slider-s/2.jpg" alt="set image">
                  <h5 class="set-slider__product-title">Jin Zhen Bai Lian Pressed Shu Puer Tea No. 360</h5>
                </div>
              </div>
            </div>
            <div class="set-slider__slide-s-wrap">
              <div class="set-slider__slide-s">
                <div class="set-slider__product">
                  <img class="set-slider__product-img" src="images/product/2.jpg" alt="set image">
                  <h5 class="set-slider__product-title">Cha Zhuan pressed tea Shu Puer 2013 No. 180</h5>
                </div>
                <div class="set-slider__product">
                  <img class="set-slider__product-img" src="images/product/1.jpg" alt="set image">
                  <h5 class="set-slider__product-title">Shu Puer pressed tea "Ban Zhang Gong Ting" 2017 No. 150</h5>
                </div>
              </div>
            </div>
            <div class="set-slider__slide-s-wrap">
              <div class="set-slider__slide-s">
                <div class="set-slider__product">
                  <img class="set-slider__product-img" src="images/set/slider-s/1.jpg" alt="set image">
                  <h5 class="set-slider__product-title">Tie Guan Yin light Oolong (turquoise tea) No. 800</h5>
                </div>
                <div class="set-slider__product">
                  <img class="set-slider__product-img" src="images/set/slider-s/2.jpg" alt="set image">
                  <h5 class="set-slider__product-title">Jin Zhen Bai Lian Pressed Shu Puer Tea No. 360</h5>
                </div>
              </div>
            </div>
          </div>
          <a class="set-slider__box-link" href="page-404.html">
            <span>Assemble the tea set</span>
            {% include "app/module/_arrow-right/_arrow-right.njk" %}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>