<header class="header" id="home">
  <div class="container">
    <div class="header__inner">
      <nav class="menu">
        <button class="menu__btn" id="menu-btn">
          <span class="menu__btn-line"></span>
          <span class="menu__btn-line"></span>
          <span class="menu__btn-line"></span>
        </button>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__item-link" href="#catalog">Catalog</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="#set">Set</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="#blog">Blog</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="#reviews">Reviews</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="#shop">Shop</a>
          </li>
          <li class="menu__item">
            <a class="menu__item-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <a class="logo" href="#home">
        <img clsss="logo__img" src="images/logo.svg" alt="logo">
      </a>
      <div class="header__contacts">
        <a class="header__address" href="#map">
          <span class="header__address-hint">show on a map</span>
          Kyiv, st. Druzhba 7
        </a>
        <a class="phone" href="tel:+380500505050">+380500505050</a>
      </div>
      <div class="header__usernav">
        <a class="header__usernav-link" href="#search">
          <img class="header__usernav-img" src="images/icons/search.svg" alt="search form">
        </a>
        <a class="header__usernav-link" href="#">
          <img class="header__usernav-img" src="images/icons/heart.svg" alt="liked">
        </a>
        <a class="header__usernav-link" href="#">
          <img class="header__usernav-img" src="images/icons/shopping-bag.svg" alt="shopping-bag">
        </a>
        <a class="header__usernav-link" href="#">
          <img class="header__usernav-img" src="images/icons/user.svg" alt="user profile">
        </a>
      </div>
    </div>
  </div>
</header>