<footer class="footer" id="contacts">
  <div class="container">
    <h2 class="footer__title title">Contacts</h2>
    <div class="footer__inner">
      <div class="footer__item">
        <a class="logo" href="#home">
          <img clsss="logo__img" src="images/logo.svg" alt="logo">
        </a>
        <div class="footer__open">
          Opening hours from
          <span>10:00</span> to <span>22:00</span>
        </div>
        <a class="phone" href="tel:+380500505050">+380500505050</a>
        <div class="footer__address">Kyiv, st. Druzhba 7</div>
        <div class="footer__social">
          <a class="footer__social-item" href="#">{% include "app/module/_icons/_instagram.njk" %}</a>
          <a class="footer__social-item" href="#">{% include "app/module/_icons/_telegram.njk" %}</a>
          <a class="footer__social-item" href="#">{% include "app/module/_icons/_fb.njk" %}</a>
        </div>
      </div>
      <div class="footer__item">
        <h5 class="footer__item-title">Information</h5>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a class="footer__list-link menu__item-link" href="#catalog">Catalog</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link menu__item-link" href="#set">Set</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link menu__item-link" href="#blog">Blog</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link menu__item-link" href="#reviews">Reviews</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link menu__item-link" href="#shop">Shop</a>
          </li>
          <li class="footer__list-item">
            <a class="footer__list-link menu__item-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </div>
      <div class="footer__item">
        <h5 class="footer__item-title footer__item-title-slide">Tea</h5>
        <div class="footer__item-box">
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Black and red Tea</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Black flavored Tea</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Green Tea</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Green flavored Tea</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Oolong Tea</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">White Tea</a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Puer Sheng Tea</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Puer Shu Tea</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Herbal and fruit Tea</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Elite Tea</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Compositional Tea</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-link" href="#">Connected Tea</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>